.container {
    margin: 20px;
    width: 50%
}

.container {
    border: 2px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.container table {
    width: 100%;
    border-collapse: collapse;
}

.container th,
.container td {
    padding: 10px;
    border-bottom: 2px solid #ccc;
    text-align: left;
    font-size: 18px;
}

.container th {
    background-color: #f2f2f2;
}

.container tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.container tbody tr:hover {
    background-color: #e6e6e6;
}